ADMIN_DB_NAME=admin_db
ADMIN_DB_USER=admin_service
ADMIN_DB_PASSWORD=change_me

NOTIFICATION_DB_NAME=notification_db
NOTIFICATION_DB_USER=notification_service
NOTIFICATION_DB_PASSWORD=change_me

KEYCLOAK_DB_NAME=keycloak
KEYCLOAK_DB_USER=keycloak
KEYCLOAK_DB_PASSWORD=change_me

KEYCLOAK_ADMIN_USER=admin
KEYCLOAK_ADMIN_PASSWORD=change_me

RABBITMQ_USER=practica
RABBITMQ_PASSWORD=change_me

MINIO_ROOT_USER=practica_admin
MINIO_ROOT_PASSWORD=change_me

KEYCLOAK_TEST_ADMIN_PASSWORD=change_me
KEYCLOAK_ANALYST_USER_PASSWORD=change_me
